In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Dummy Data HSS.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social Media  4566 non-null   float64
 3   Influencer    4572 non-null   object
 4   Sales         4566 non-null   float64
dtypes: float64(4), object(1)
memory usage: 178.7+ KB

In [4]:
df.head(10)

     TV      Radio  Social Media Influencer       Sales
0  16.0   6.566231      2.907983       Mega   54.732757
1  13.0   9.237765      2.409567       Mega   46.677897
2  41.0  15.886446      2.913410       Mega  150.177829
3  83.0  30.020028      6.922304       Mega  298.246340
4  15.0   8.437408      1.405998      Micro   56.594181
5  29.0   9.614382      1.027163       Mega  105.889148
6  55.0  24.893811      4.273602      Micro  198.679825
7  31.0  17.355042      2.289855       Nano  108.733932
8  76.0  24.648898      7.130116      Macro  270.189400
9  13.0   0.431128      2.229423       Mega   48.280582

In [5]:
df.tail()

        TV      Radio  Social Media Influencer       Sales
4567  26.0   4.472360      0.717090      Micro   94.685866
4568  71.0  20.610685      6.545573       Nano  249.101915
4569  44.0  19.800072      5.096192      Micro  163.631457
4570  71.0  17.534640      1.940873      Macro  253.610411
4571  42.0  15.966688      5.046548      Micro  148.202414

In [7]:
df1=df.drop(['Influencer'], axis=1)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social Media  4566 non-null   float64
 3   Sales         4566 non-null   float64
dtypes: float64(4)
memory usage: 143.0 KB

In [9]:
df1.head()

     TV      Radio  Social Media       Sales
0  16.0   6.566231      2.907983   54.732757
1  13.0   9.237765      2.409567   46.677897
2  41.0  15.886446      2.913410  150.177829
3  83.0  30.020028      6.922304  298.246340
4  15.0   8.437408      1.405998   56.594181

In [10]:
df1.dropna(inplace=True)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4546 entries, 0 to 4571
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4546 non-null   float64
 1   Radio         4546 non-null   float64
 2   Social Media  4546 non-null   float64
 3   Sales         4546 non-null   float64
dtypes: float64(4)
memory usage: 177.6 KB

In [12]:
X=df1[['TV','Radio','Social Media']]
y=df1['Sales']

In [13]:
X.shape

(4546, 3)

In [14]:
#import numpy as np
#X=np.array(df['TV']).reshape(-1,1)
y=np.array(df1['Sales']).reshape(-1,1)

NameError: name 'np' is not defined

In [15]:
X.shape

(4546, 3)

In [16]:
y.shape

(4546,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test=train_test_split(X,y,test_size=0.2)

In [18]:
from sklearn.linear_model import LinearRegression
regr=LinearRegression()

In [19]:
regr.fit(X_train,y_train)

LinearRegression()

In [20]:
print(regr.score(X_test,y_test))

0.9989927862125638